#Preferences
#Sat Dec 28 18:28:36 EST 2013
drinksFilename=/Users/brendonbody/Projects/Eclipse Workspace/CocktailMaker/AlcoholCalculator/drink-list.drinks
cocktailsFilename=/Users/brendonbody/Projects/Eclipse Workspace/CocktailMaker/AlcoholCalculator/cocktail-list.cocktails
fontname=Wingdings
fontsize=71
language=American English
